html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-weight: 600;
  font-size: 4rem;
}

.amount{
  font-size: 4rem;
  font-weight: 500;
  font-size: 4rem;
}

.btn{
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.btns{
  display: flex;
  flex-direction: column;
}

button {
  font-size: 3rem;
  padding: 1rem;
}